<nav
  class="
    h-[48px] bg-gray-300 w-full flex flex-row justify-between px-10 items-center
  "
>
  <div class="">
    <%= link_to "Home", root_path, class: "font-bold" %>
  </div>
  <div class="w-72 pl-32">
    <% if authenticated? %>
      <%= button_to "Logout", session_path, method: :delete %>
    <% end %>

    <% unless authenticated? %>
      <div class=" flex flex-row h-[36px] text-center justify-center items-center ">
        <div class="w-[72px] ">
          <%= link_to new_session_path, class: 'hover:text-gray-500' do %>
            Sign in
          <% end %>
        </div>
        <div class="w-[72px] border border-l h-[28px] rounded-sm">
          <%= link_to new_user_path, class: 'hover:text-gray-500' do %>
            Sign up
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</nav>
